@charset "utf-8";

@font-face {
  font-family: 'NanumGothic';
  font-weight: 400;
  src: url('bb_pc_font/NanumGothic-Regular.eot');
  src: local('NanumGothic-Regular'),
       local('NanumGothic-Regular'),
       url('bb_pc_font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('bb_pc_font/NanumGothic-Regular.woff') format('woff'),
       url('bb_pc_font/NanumGothic-Regular.woff2') format('woff2'),
       url('bb_pc_font/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-weight: 600;
  src: url('bb_pc_font/NanumGothic-Bold.eot');
  src: local('NanumGothic-Bold'),
       local('NanumGothic-Bold'),
       url('bb_pc_font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('bb_pc_font/NanumGothic-Bold.woff') format('woff'),
       url('bb_pc_font/NanumGothic-Bold.woff2') format('woff2'),
       url('bb_pc_font/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-weight: 900;
  src: url('bb_pc_font/NanumGothic-ExtraBold.eot');
  src: local('NanumGothic-ExtraBold'),
       local('NanumGothic-ExtraBold'),
       url('bb_pc_font/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('bb_pc_font/NanumGothic-ExtraBold.woff') format('woff'),
       url('bb_pc_font/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('bb_pc_font/NanumGothic-ExtraBold.ttf') format('truetype');
}