@charset "utf-8";

.card_u{position:relative; width:100%; height:auto; background-color:#e7e7e7;}
.card_l{position:relative; width:100%; height:auto; padding-top:6px;}
.card_l:first-of-type{padding-top:0;}
.card_l .main_content{position:relative; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; box-sizing:border-box;}

/* 사진영역 */
.card_photo{position:absolute; width:153px; height:120px; top:50%; left:0; transform:translateY(-50%); z-index:10;}
.card_photo a{position:relative; display:block; width:100%; height:100%;}
.card_photo .sold_out02{background:url("http://image.bbjang.com/imgs/bbjang/img01/list_sold_out02.png") no-repeat center center; background-size:cover;}
.card_photo .expira02{background:url("http://image.bbjang.com/imgs/bbjang/img01/list_expira02.png") no-repeat center center; background-size:cover;}
.card_photo a img{position:relative; width:100%; height:100%; object-fit:cover; z-index:-1;}

/*---------- 리스트 컨텐츠 ----------*/
.card_content{position:relative; width:100%; height:auto; min-height:120px; padding:8px 5px 5px 162px; box-sizing:border-box; background-color:#fff; cursor:pointer;}
.card_content:active{background-color:#f3f3f3;}

.card_badge{position:relative; width:100%; height:auto;}
.card_badge:after{content:""; display:block; clear:both;}
.card_title{position:relative; padding-top:4px; line-height:20px; font-size:16px; font-weight:600; color:#000;}
.main_badge_month, .main_badge_rent, .main_badge_sale, .main_badge_short, .main_badge_buy{float:left; width:auto; height:auto; padding:0 4px; border-radius:2px; font-size:13px; font-weight:600; color:#fff; line-height:20px; text-align:center; margin-right:5px;}
.main_badge_month{background-color:#33a381;}
.main_badge_rent{background-color:#92982a;}
.main_badge_sale{background-color:#267ba2;}
.main_badge_short{background-color:#d77327;}
.main_badge_buy{background-color:#70369d;}
.card_title .area_span{padding-left:12px; background:url("http://image.bbjang.com/imgs/bbjang/img01/bg_bar05.png") no-repeat 5px 2px; background-size:1px 10px;}

.card_price{display:inline; position:relative; width:100%; line-height:22px; font-size:15px; color:#004c80; font-weight:600; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.card_info{display:inline-block; position:relative; height:17px; top:1px; line-height:22px; font-size:13px; color:#1c1e1f; overflow:hidden;}
.card_info .area_span{line-height:19px;}
.card_info_buy{width:100%; height:15px; line-height:16px; font-size:12px; color:#1c1e1f; padding-top:1px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.card_content .wt_day, .card_content .wt_nday{position:absolute; top:10px; right:12px; font-size:13px; font-weight:700; text-align:center; width:35px; height:14px; line-height:15px; border-top-left-radius:100%; border-top-right-radius:50%; border-bottom-right-radius:100%; border-bottom-left-radius:50%; transform:rotate(-4deg);}
.card_content .txt_rot{display:block; width:100%; height:100%; transform:rotate(4deg);}
.card_content .wt_day{background-color:#c57387; color:#fff;}
.card_content .wt_nday{background-color:#7d7375; color:#fff;}

.card_txt, .local_txt{position:relative; line-height:20px; font-size:13px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.local_txt{font-size:13px; font-weight:600; color:#935837;}

.photo_num{position:absolute; top:-3px; right:-3px; width:24px; height:24px; line-height:24px; color:#fff; font-size:13px; font-weight:600; text-align:center; background:linear-gradient(to bottom, rgb(65,187,248) 1%,rgb(14,142,252) 100%); border-radius:50px; *background-color:#0ca2ed; _background-color:#0ca2ed;}

/* 내글 버튼 영역 */
.card_my_btn{position:relative; width:100%; height:27px; line-height:27px; border-top:none; box-sizing:border-box;}
.card_my_btn .my_btn_sky{float:left; height:100%; box-sizing:border-box; background-color:#f5fcff; border-right:1px solid #d1e2ea; font-size:13px; font-weight:400; color:#646b6e; text-align:center;}
.card_my_btn .my_btn_sky:last-of-type{border:none;}
.card_my_btn .my_btn_sky.width_5ea_1{width:17%;}
.card_my_btn .my_btn_sky.width_5ea_2{width:20%;}
.card_my_btn .my_btn_sb.width_5ea_3{width:29%;}
.card_my_btn .my_btn_sky a{display:block; width:100%; height:100%;}
.card_my_btn .my_btn_sky a:active{background:rgba(0,0,0,0.05);}
.card_my_btn .my_btn_sb {float:left; height:100%; background-color:#0ca2ed; color:#fff; font-size: 13px; font-weight:400; text-align:center; }
.card_my_btn .my_btn_sb a:active{background:rgba(0,0,0,0.05);}
/*---------------------------------*/
